# Web framework
flask
flask-cors

# NLP and language models
spacy
# We will install the model using: python -m spacy download en_core_web_sm

# Environment variables
python-dotenv

# Google API + Gemini + Search
requests
google-api-python-client
google-auth
google-auth-httplib2
httplib2
google-generativeai

# Fuzzy text matching
rapidfuzz

# Date parsing from text
python-dateutil